In [104]:
import pandas as pd

#data = pd.read_csv('unique_g_len.tsv', sep='\t', header=0) for all populations excluding ESCs
data = pd.read_csv('/ceph/rimlsfnwi/data/moldevbio/zhou/jarts/R/scRNA-seq/20210804/pseudobulk_4cells_TPM.tsv', sep='\t', header=0)
cellcounts = pd.read_csv('/ceph/rimlsfnwi/data/moldevbio/zhou/jarts/R/scRNA-seq/20210802/cellcounts_4cells.tsv', sep='\t', header=0)

# Load in the gene lengths and take the highest number
data2 = pd.read_csv('/ceph/rimlsfnwi/data/moldevbio/zhou/jarts/jupyter_notebooks/genelengths/idgl.tsv', sep='\t', header=0)
data3 = data2.groupby('ID')['LEN'].max().reset_index()

# Merge the dataframes to add lengths to the IDs
data4 = pd.merge(data, data3, on='ID')

In [105]:
cellcounts

  population  number_of_cells
0       LiCo            21166
1      FCVes             1435
2      StCSC             5530
3      MECIC              975

In [106]:
# Display values not as scientific number but as normal float
pd.set_option('display.float_format', lambda x: '%.30f' % x)

# Exclude genes where no length is known
nan_value = float("NaN")

data4.replace("", nan_value, inplace=True)

data4.dropna(subset = ["LEN"], inplace=True)

In [107]:
# adding values for the TPM count
data4["MIL"] = 1000000
data4["transcripts"] = len(data4)
data4["readlength"] = 75
data4

,ID,LiCo,FCVes,StCSC,MECIC,LEN,MIL,transcripts,readlength
12,SAMD11,37.304248971134498447099758777767,21.537343804235501210087022627704,78.547495197626901131116028409451,7.605320294312120310564750980120,18843.000000000000000000000000000000,1000000,16729,75
13,NOC2L,3770.798838327620160271180793642998,215.183242873262003058698610402644,693.998306253935993481718469411135,122.755749051923999104474205523729,15053.000000000000000000000000000000,1000000,16729,75
14,KLHL17,259.215346807763978631555801257491,18.310307099161498456396657275036,128.042842898526998851593816652894,11.573097844321599936279199027922,5135.000000000000000000000000000000,1000000,16729,75
15,PLEKHN1,5406.245693598440084315370768308640,60.445477177500400500775867840275,158.346279151881986990701989270747,43.914883745701402517624956090003,9383.000000000000000000000000000000,1000000,16729,75
16,PERM1,369.334142781976993319403845816851,5.097832130170010245251432934310,18.706057930238699782421463169158,7.603761670122770155444413830992,6889.000000000000000000000000000000,1000000,16729,75
...,...,...,...,...,...,...,...,...,...
26731,NANOGNB,0.457654364175631989120063281007,0.000000000000000000000000000000,0.440763957421517027501778329679,0.000000000000000000000000000000,8905.000000000000000000000000000000,1000000,16729,75
26740,TRGV4,0.000000000000000000000000000000,0.000000000000000000000000000000,0.000000000000000000000000000000,4.376893735626540049565846857149,802.000000000000000000000000000000,1000000,16729,75
26742,PGA5,0.000000000000000000000000000000,0.000000000000000000000000000000,1.895188803657740006514131891890,0.902796366206780054319835926435,10406.000000000000000000000000000000,1000000,16729,75
26743,DDN,0.000000000000000000000000000000,0.000000000000000000000000000000,1.117358886036180054546207429667,0.744592481083308999068037792313,4226.000000000000000000000000000000,1000000,16729,75
26745,HOXB13,0.000000000000000000000000000000,0.000000000000000000000000000000,1.347708406061540076237292851147,0.000000000000000000000000000000,4415.000000000000000000000000000000,1000000,16729,75

In [108]:
# Selecting populations >100 cell in scATAC-seq + normalizing against cell number?
data4 = data4[['ID','LiCo','StCSC','MIL','transcripts','readlength','LEN']]
data4

# continue with cellcount normalization!
#cellcounts.loc[cellcounts['population'] == data4]

/scratch/julian/tmp/z20m/ipykernel_44428/1104446443.py:5: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  cellcounts.loc[cellcounts['population'] == data4]

ValueError: Cannot index with multidimensional key

In [ ]:
cellcounts

In [125]:
# calculating the TPM
data[['CjS','VEC','LNPCs','FCECs','CSB','CB','StC','CSSCs','MEC','LPCs','IC']] = data[['CjS','VEC','LNPCs','FCECs','CSB','CB','StC','CSSCs','MEC','LPCs','IC']].mul(data['MIL'].values,axis=0)
data[['CjS','VEC','LNPCs','FCECs','CSB','CB','StC','CSSCs','MEC','LPCs','IC']] = data[['CjS','VEC','LNPCs','FCECs','CSB','CB','StC','CSSCs','MEC','LPCs','IC']].div(data['LEN'].values,axis=0)
data[['CjS','VEC','LNPCs','FCECs','CSB','CB','StC','CSSCs','MEC','LPCs','IC']] = data[['CjS','VEC','LNPCs','FCECs','CSB','CB','StC','CSSCs','MEC','LPCs','IC']].mul(data['readlength'].values,axis=0)
data[['CjS','VEC','LNPCs','FCECs','CSB','CB','StC','CSSCs','MEC','LPCs','IC']] = data[['CjS','VEC','LNPCs','FCECs','CSB','CB','StC','CSSCs','MEC','LPCs','IC']].div(data['transcripts'].values,axis=0)
tpmdata = data
tpmdata

,ID,CjS,VEC,LNPCs,FCECs,CSB,CB,StC,CSSCs,MEC,LPCs,IC,LEN,MIL,transcripts,readlength
0,CAPN6,0.073417094179887967819730931751,0.000000000000000000000000000000,0.058823941203066727745341069067,0.000000000000000000000000000000,0.067955148937625442506771378248,0.486304247676031475844382612195,3.406377418506071563797377166338,1.915992969054448380461508349981,0.053339585176839815483518236761,0.107672721880070515476646164643,0.000000000000000000000000000000,25384,1000000,16729,75
1,HSP90AB1,7049.374323585850106610450893640518,1303.294333126850006010499782860279,2440.653114302386256895260885357857,577.946176006391169721609912812710,4644.830914693648992397356778383255,6668.051766352756203559692949056625,1669.772106063828232436208054423332,5242.489148797292727977037429809570,735.753278190836681460496038198471,1582.329931923029107565525919198990,781.793220329324981321406085044146,7722,1000000,16729,75
2,DACH1,0.189514973895240301793307935441,1.263665060027251874075204796100,0.004216180911978363414494008765,0.110578006253407065684335464084,0.029321350196677961608138218708,0.034282858890905702764495543988,0.333802088233985105869550125135,0.035573214914869720482126780325,0.190333663639614764084839748648,0.010175143578793864607145991386,0.005006779013531458336072610393,429226,1000000,16729,75
3,CAPN7,78.666949724065318605426000431180,11.684646338757040950895316200331,36.551495151404893135804741177708,5.129708495225671960326963016996,74.221775600080917456580209545791,105.764950283958896193325927015394,22.424648938292524036342001636513,89.768529084160988418261695187539,6.085713848087118016394470032537,17.556625492607693672653113026172,5.938450102498989302546306134900,46670,1000000,16729,75
4,DACH2,0.040333576932747597365569447447,0.000000000000000000000000000000,0.043442886456538029604779183046,0.019961386136721697565077349168,0.016529591092313961758764051524,0.081015512528245098300416771053,0.003035282556616608531235845803,0.013359850434269371702300510663,0.003025581841986088767193496807,0.011138645789369320746042824055,0.000000000000000000000000000000,684151,1000000,16729,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16724,APLNR,1.091498542492796319791636960872,114.450786356357966155883332248777,6.284741307275650612496065150481,15.603231528329414956601794983726,1.794702369245639861361496514292,0.934458309999706138171404745663,0.915783501207941053046113211167,1.049549068430389198169905284885,0.460953117684409996446248669599,0.000000000000000000000000000000,1.399839813487992135065951515571,3658,1000000,16729,75
16725,CAPN3,10.724602339463134015318246383686,2.821073764924751703375704892096,3.768891790871488289837998308940,0.813626525925758237178797571687,7.051710378215458874251453380566,8.582074388892070970769054838456,1.895337609727985705987407527573,7.909359971886780193983668141300,41.435763944869989927610731683671,4.376129240650360685549458139576,0.859800314808030985425091330399,52817,1000000,16729,75
16726,TXNRD3,5.533159362965395899891518638469,1.990232162084655476164130050165,5.284616105735135072052344185067,0.632559709943411152544001652132,8.994343181642031836986461712513,12.279420273929110507538098318037,2.848877548392380276709445752203,11.808713652009341643633888452314,1.009489752140225737875312006508,1.040464495481546736144196074747,0.386541710849862829579848266803,48065,1000000,16729,75
16727,TAS1R3,0.882058054451503315007698802219,1.061263899317475445371883324697,2.996222940445410820586857880699,0.000000000000000000000000000000,10.125084743587553504085008171387,3.289368364124315657903707688092,0.964318665397231544744727216312,0.000000000000000000000000000000,0.000000000000000000000000000000,1.283253140219693166912406923075,0.735086360199249222446837848111,4034,1000000,16729,75
16728,CAPN5,132.279641656750101219586213119328,3.476015262736983579827665380435,7.987350423659259845976521319244,0.880967059868950075340876537666,129.793080207802006498241098597646,73.939547661548076007420604582876,5.421237095492155155795899190707,17.540131679859875646343425614759,3.271162142996113519899381572031,1.812100442756186202686308206466,1.335890209126532113259600009769,58657,1000000,16729,75

In [100]:
# calculating the TPM (four cells)
data4[['LiCo','StCSC']] = data4[['LiCo','StCSC']].mul(data4['MIL'].values,axis=0)
data4[['LiCo','StCSC']] = data4[['LiCo','StCSC']].div(data4['LEN'].values,axis=0)
data4[['LiCo','StCSC']] = data4[['LiCo','StCSC']].mul(data4['readlength'].values,axis=0)
data4[['LiCo','StCSC']] = data4[['LiCo','StCSC']].div(data4['transcripts'].values,axis=0)
tpmdata = data4
tpmdata

/vol/mbconda/julian/envs/ananse030/lib/python3.9/site-packages/pandas/core/frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,ID,LiCo,StCSC,MIL,transcripts,readlength,LEN
12,SAMD11,8.875637063997707798534975154325,18.688462544834802514515104121529,1000000,16729,75,18843.000000000000000000000000000000
13,NOC2L,1123.056446792026690673083066940308,206.693410419872719785416848026216,1000000,16729,75,15053.000000000000000000000000000000
14,KLHL17,226.314064587330989297697669826448,111.790820159938050437631318345666,1000000,16729,75,5135.000000000000000000000000000000
15,PLEKHN1,2583.124536931755756086204200983047,75.658448060065751406000345014036,1000000,16729,75,9383.000000000000000000000000000000
16,PERM1,240.355771478669822727169957943261,12.173553604550791717997526575346,1000000,16729,75,6889.000000000000000000000000000000
...,...,...,...,...,...,...,...
26731,NANOGNB,0.230406627197475621926514577353,0.221903132077923725962165235615,1000000,16729,75,8905.000000000000000000000000000000
26740,TRGV4,0.000000000000000000000000000000,0.000000000000000000000000000000,1000000,16729,75,802.000000000000000000000000000000
26742,PGA5,0.000000000000000000000000000000,0.816507057039291828104410342348,1000000,16729,75,10406.000000000000000000000000000000
26743,DDN,0.000000000000000000000000000000,1.185371487532702161615816294216,1000000,16729,75,4226.000000000000000000000000000000
26745,HOXB13,0.000000000000000000000000000000,1.368536899013979901695847729570,1000000,16729,75,4415.000000000000000000000000000000

In [101]:
# subselecting the files to generate tpm value for each condition
for i in tpmdata.columns:
    if i != "ID" and i != "MIL" and i != "transcripts" and i != "LEN" and i != "readlength":
        print (i)
        final_df = tpmdata[['ID',i]]
        final_df.to_csv(str(i)+"tpm.tsv", sep="\t", index=False)

LiCo
StCSC

Code for quantile normalization of the counts

In [1]:
import pandas as pd
import numpy as np
import qnorm
data = pd.read_csv('/ceph/rimlsfnwi/data/moldevbio/zhou/jarts/data/lako2021/merge_peaks/2021-27-06/tmp/newtable.tsv', sep='\t', header=0)
data
# removing low quality cellpopulations
data = data[['loc','LPCs','LNPCs','CjS','CSB','CB','StC','MEC','CSSCs']]
data

,loc,LPCs,LNPCs,CjS,CSB,CB,StC,MEC,CSSCs
0,chr1:10092-10292,25.0,26.0,69.0,60.0,70.0,14.0,2.0,19.0
1,chr1:11188-11388,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,chr1:29060-29260,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,chr1:29426-29626,1.0,0.0,3.0,1.0,0.0,1.0,0.0,1.0
4,chr1:31143-31343,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
307561,chr9:138276905-138277105,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
307562,chr9:138277202-138277402,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
307563,chr9:138287670-138287870,2.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
307564,chr9:138330142-138330342,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
307565,chr9:138330454-138330654,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
##################################################################################################

In [2]:
# for arm calculation only!
# joining the columns based on the arms and then doing the logtransform
data[['arm1']] = data[['LPCs','LNPCs','CjS','CSB','CB']].median(axis=1)
data[['arm2']] = data[['StC','CSSCs']].median(axis=1)
data

,loc,LPCs,LNPCs,CjS,CSB,CB,StC,MEC,CSSCs,arm1,arm2
0,chr1:10092-10292,25.0,26.0,69.0,60.0,70.0,14.0,2.0,19.0,60.0,16.5
1,chr1:11188-11388,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,chr1:29060-29260,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,chr1:29426-29626,1.0,0.0,3.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0
4,chr1:31143-31343,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
307561,chr9:138276905-138277105,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
307562,chr9:138277202-138277402,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
307563,chr9:138287670-138287870,2.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
307564,chr9:138330142-138330342,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
307565,chr9:138330454-138330654,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
# Do the logtransform ARMS

numeric_df = data.apply(lambda x: np.log(x+1) if np.issubdtype(x.dtype, np.number) and np.number != 0 else x)
numeric_df

# convert back to numeric (nessesary for the logtransform)
numeric_df[['arm1','arm2']] = numeric_df[['arm1','arm2']].astype(int)

# add the rownames for quantile normalization
numeric_df.index = numeric_df['loc']
numeric_df = numeric_df[['arm1','arm2']]
numeric_df

                          arm1  arm2
loc
chr1:10092-10292             4     2
chr1:11188-11388             0     0
chr1:29060-29260             0     0
chr1:29426-29626             0     0
chr1:31143-31343             0     0
...                        ...   ...
chr9:138276905-138277105     0     0
chr9:138277202-138277402     0     0
chr9:138287670-138287870     0     0
chr9:138330142-138330342     0     0
chr9:138330454-138330654     0     0

[307566 rows x 2 columns]

In [4]:
# perform the quantile normalization
numericdf_quant = qnorm.quantile_normalize(numeric_df[['arm1','arm2']], ncpus=4)
numericdf_quant

                              arm1      arm2
loc
chr1:10092-10292          3.370986  2.610270
chr1:11188-11388          0.000000  0.622947
chr1:29060-29260          0.000000  0.622947
chr1:29426-29626          0.000000  0.622947
chr1:31143-31343          0.000000  0.622947
...                            ...       ...
chr9:138276905-138277105  0.000000  0.622947
chr9:138277202-138277402  0.000000  0.622947
chr9:138287670-138287870  0.000000  0.622947
chr9:138330142-138330342  0.000000  0.622947
chr9:138330454-138330654  0.000000  0.622947

[307566 rows x 2 columns]

In [5]:
# saving the file
numericdf_quant.to_csv("quantilearms.tsv", sep="\t", index=True)

#############################################################

In [11]:
# Do the logtransform

numeric_df = data.apply(lambda x: np.log(x+1) if np.issubdtype(x.dtype, np.number) and np.number != 0 else x)
numeric_df

# convert back to numeric (nessesary for the logtransform)
numeric_df[['StC','MEC','LPCs','LNPCs','CjS','CSSCs','CSB','CB']] = numeric_df[['StC','MEC','LPCs','LNPCs','CjS','CSSCs','CSB','CB']].astype(int)

# add the rownames for quantile normalization
numeric_df.index = numeric_df['loc']
numeric_df

,loc,LPCs,LNPCs,CjS,CSB,CB,StC,MEC,CSSCs
loc,,,,,,,,,
chr1:10092-10292,chr1:10092-10292,3,3,4,4,4,2,1,2
chr1:11188-11388,chr1:11188-11388,0,0,0,0,0,0,0,0
chr1:29060-29260,chr1:29060-29260,0,0,0,0,0,0,0,0
chr1:29426-29626,chr1:29426-29626,0,0,1,0,0,0,0,0
chr1:31143-31343,chr1:31143-31343,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
chr9:138276905-138277105,chr9:138276905-138277105,0,0,0,0,0,0,0,0
chr9:138277202-138277402,chr9:138277202-138277402,0,0,0,0,0,0,0,0
chr9:138287670-138287870,chr9:138287670-138287870,1,0,0,0,0,0,0,0
chr9:138330142-138330342,chr9:138330142-138330342,0,0,0,0,0,0,0,0
chr9:138330454-138330654,chr9:138330454-138330654,0,0,0,0,0,0,0,0

In [13]:
# perform the quantile normalization
numericdf_quant = qnorm.quantile_normalize(numeric_df[['StC','MEC','LPCs','LNPCs','CjS','CSSCs','CSB','CB']], ncpus=4)
numericdf_quant

,StC,MEC,LPCs,LNPCs,CjS,CSSCs,CSB,CB
loc,,,,,,,,
chr1:10092-10292,2.795073,2.677206,2.778475,3.158185,2.655561,2.423240,3.156229,2.937848
chr1:11188-11388,0.820602,1.054978,0.301311,0.475221,0.000000,0.557475,0.104033,0.008985
chr1:29060-29260,0.820602,1.054978,0.301311,0.475221,0.000000,0.557475,0.104033,0.008985
chr1:29426-29626,0.820602,1.054978,0.301311,0.475221,0.330175,0.557475,0.104033,0.008985
chr1:31143-31343,0.820602,1.054978,0.301311,0.475221,0.000000,0.557475,0.104033,0.008985
...,...,...,...,...,...,...,...,...
chr9:138276905-138277105,0.820602,1.054978,0.301311,0.475221,0.000000,0.557475,0.104033,0.008985
chr9:138277202-138277402,0.820602,1.054978,0.301311,0.475221,0.000000,0.557475,0.104033,0.008985
chr9:138287670-138287870,0.820602,1.054978,1.069370,0.475221,0.000000,0.557475,0.104033,0.008985
chr9:138330142-138330342,0.820602,1.054978,0.301311,0.475221,0.000000,0.557475,0.104033,0.008985
chr9:138330454-138330654,0.820602,1.054978,0.301311,0.475221,0.000000,0.557475,0.104033,0.008985

In [14]:
# saving the file
numericdf_quant.to_csv("quantileall.tsv", sep="\t", index=True)